<div class="fadein">
  <div class="jumbotron text-center">
    <h1>GDT SSR</h1>
    <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <hr class="my-4">
    <div>
      <a href="" *ngIf="!authService.loggedIn()" class="btn btn-primary" routerLink="/register">Register</a>
      <a href="" *ngIf="!authService.loggedIn()" class="btn btn-primary" routerLink="/login">Login</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Express</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-md-4">
      <h3>Angular SSR</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-md-4">
      <h3>MongoDB</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  </div>